<section class="content-container">
  <mat-card class="form-container" *ngIf="mode$ | async as mode">
    <mat-card-title
      >{{
        mode === "edit" ? "Редактирование" : "Добавление"
      }}
      студента</mat-card-title
    >
    <form [formGroup]="form" class="form-group">
      <mat-form-field appearance="standard">
        <mat-label class="label">Фамилия</mat-label>
        <input
          matInput
          class="form-control"
          placeholder="Фамилия"
          formControlName="lastName"
        />
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label class="label">Имя</mat-label>
        <input
          matInput
          class="form-control"
          placeholder="Имя"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field class="form-group" appearance="standard">
        <mat-label class="label">Отчество</mat-label>
        <input
          matInput
          class="form-control"
          placeholder="Отчество"
          formControlName="middleName"
        />
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button
        mat-raised-button
        color="accent"
        *ngIf="mode === 'create'"
        (click)="addStudent()"
      >
        Добавить
      </button>
      <button
        mat-raised-button
        color="accent"
        *ngIf="mode === 'edit' && (selectedStudent$ | async) as data"
        (click)="editStudent(data)"
      >
        Сохранить
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="students-list-container">
    <mat-card-title class="header">Список студентов</mat-card-title>
    <mat-card-content
      *ngFor="let student of students$ | async"
      class="student-row"
      (click)="selectStudent(student)"
    >
      <span class="fio-span">{{ student.fio }}</span>
      <section class="button-group">
        <button
          mat-raised-button
          color="warn"
          (click)="deleteStudent(student.id)"
        >
          Удалить
        </button>
      </section>
    </mat-card-content>
  </mat-card>
</section>
