.content-container {
  background-color: #303030;
}

.form-container {
  margin: 0 auto 1rem auto;
  width: 30%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.students-list-container {
  width: 50%;
  margin: 0 auto 1rem auto;
}

.student-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student-row:hover {
  background-color: #616262;
}
